body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
}

.main-header a {
  color: #ffffff;
}

.main-navigation {
  background-color: #293449;
}

.search-form input {
  font: inherit;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.header-content {
  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.header-description {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  font-style: normal;
  color: #32425c;
}

.header-contacts .header-contacts-phone {
  font-size: 21px;
  color: #ee3643;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.user-navigation a {
  font-size: 21px;
  color: #000000;
}

.site-navigation {
  background-color: #32425c;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-green:hover,
.button-green:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-green:active {
  background-color: #518534;
}

.add-to-favorite {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.add-to-favorite:hover,
.add-to-favorite:focus {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.add-to-favorite:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  color: #000000;
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.container h1 {
  color: #32425c;
  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.container h1,
.container h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.offers-list {
  list-style: none;
}

.offers-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.offers-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.offers-item a:hover,
.offers-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-item {
  background-color: #f5f5f5;
}

.material {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
}

.tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
}

.tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
}

.sales {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
}

.offers-slide {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #f5f5f5;
}

.offers-slide h3 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-1 {
  background-image: url("../img/slide1.jpg");
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url("../img/slide2.jpg");
  background-repeat: no-repeat;
}


.popular h2 {
  background-color: #f9f5f0;
}

.popular-goods-item,
.catalog-item {
  list-style: none;
  border: 1px solid #e5e5e5;
}

.popular-goods-item h3 a,
.catalog-item h3 a {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.popular-goods-item del,
.catalog-item del {
  font-size: 17px;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
}

.popular-goods-item .goods-button,
.catalog-item .goods-button {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.popular-brands-item {
  list-style: none;
  border: 1px solid #eaeaea;
}

.services {
  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.services-list {
  list-style: none;
}

.services-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.services-item a:focus,
.services-item a:hover {
  color: #ffffff;
  background-color: #293449;
}

.services-item a:active,
.services-item-current a {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}


.services-info h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-info.delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.services-info.guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.services-info.credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.company-list {
  list-style: none;
}

.company-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.filters h2,
.catalog-sort h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #f7f3ec;
}

.filters fieldset {
  border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:last-of-type {
  border: none;
}

.filters input[type="number"] {
  font-family: inherit;
  font-size: 17px;
  background-color: #f7f3ec;
  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters label {
  font-size: 15px;
  text-transform: uppercase;
}

.filter-button {
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.catalog-sort {
  background-color: #f7f3ec;
}

.catalog-sort ul {
  list-style: none;
}

.catalog-sort a {
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.catalog-sort a:hover,
.catalog-sort a:focus {
  opacity: 1;
}

.catalog-sort a:active,
.sort-item-current a {
  color: #ee3643;
  opacity: 1;
}

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
}

.main-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer-navigation,
.main-footer-catalog-navigation,
.footer-social-list {
  list-style: none;
}

.main-footer-catalog-navigation a,
.main-footer-feedback a {
  color: #ffd180;
}

.main-footer-bottom {
  background-color: #293449;
}

.main-footer-bottom a:active {
  color: #ee3643;
  opacity: 1;
  text-decoration: none;
}

.modal {
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.write-us-form input,
.write-us-form textarea {
  font: inherit;
  border: 2px solid #dee3e4;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: #000000;
  border: 2px solid #ee3643;
}
