body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
}

.main-header a {
  color: #ffffff;
}

.main-navigation {
  background-color: #293449;
}

.search-form input {
  font: inherit;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.header-content {
  background-color: #f3f7f8;
  background-image: url("./../img/background.png");
}

.header-description {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  font-style: normal;
  color: #32425c;
}

.header-contacts .header-contacts-phone {
  font-size: 21px;
  color: #ee3643;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.user-navigation a {
  font-size: 21px;
  color: #000000;
}

.site-navigation {
  background-color: #32425c;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.add-to-cart-button {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.add-to-cart-button:active {
  background-color: #518534;
}

.add-to-favorite {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.add-to-favorite:hover,
.add-to-favorite:focus {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.add-to-favorite:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  border-right: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-right: 1px solid #bdc6ca;
}

.pagination-item a:active {
  color: #000000;
  border-right: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.container h1 {
  color: #32425c;
  background-color: #f3f7f8;
  background-image: url("./../img/background.png");
}

.container h1,
.container h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.catalog-item {
  list-style: none;
}

.catalog-item h3 a {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.company-list {
  list-style: none;
}

.company-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
}

.main-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer-navigation,
.main-footer-catalog-navigation,
.footer-social-list {
  list-style: none;
}

.main-footer-catalog-navigation a,
.main-footer-feedback a {
  color: #ffd180;
}

.main-footer-bottom {
  background-color: #293449;
}

.main-footer-bottom a:active {
  color: #ee3643;
  opacity: 1;
  text-decoration: none;
}

